mixin contact-item(name,nameValue,type,typeValue)
    -var name = name ? name : "contact";
    -var nameValue = nameValue ? nameValue : "contact-value";
    section.contact-item
        .contact-item__name=name
        .contact-item__value
            if type == "phone"
                a.contact-item__link(href="tel: " + typeValue)=nameValue
            else if type == "mail"
                a.contact-item__link(href="mailto: " + typeValue)=nameValue
            else if type == "site"
                a.contact-item__link(href=typeValue target="_blank" rel="noopener noreferrer")=nameValue
            else
                a.contact-item__link(href="/mock-address/change-me")=nameValue